@using Assignment.Models;
@model IEnumerable<PersonDetailsViewModel>

@{
    ViewBag.Title = "Persion Details List";
}


<div class="row">
    <div class="col-md-4">
        <h2>Person Details</h2>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInWords)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberInWords)
        </td>
    </tr>
    }
</table>